.card__header {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 0.5em 0;
	&.--free {
		background-color: #000;
	}
	&.--pro {
		background-color: #4c4cb2;
	}
	&.--enterprise {
		background-color: #d0aa25;
	}
}
.card__tier {
	font-size: 18px;
	font-weight: 600;
	color: #fff;
	font-family: "Helvetica", sans-serif;
}
