:root {
	--bg-col: rgb(30, 18, 74);
	--font-col: rgb(203, 199, 252);
	--border-col: rgb(79, 49, 185);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	padding: 10rem 2rem !important;
}
