---
import BaseLayout from "../layouts/BaseLayout.astro";
import {Content as markdownContent, frontmatter} from "../data/data.md";
import data from "../data/data.json";
---

<BaseLayout>
	<h1>Astro</h1>
</BaseLayout>

<script></script>
